<div class="question">
    <div class="card">
      <div class="card-header">
        {{question.text}} 
        <a href="#" class="btn btn-link" (click) = "question.hide = !question.hide ">Show</a>
        <a href="#" class="btn btn-link" (click) = "removeQuestion(question)">Remove</a>

          <!-- These buttons will not scroll up the page when using them like the links -->
        <!-- <button class="btn" (click) = "question.hide = !question.hide">Show</button>
        <button class="btn" (click) = "removeQuestion(question)">Remove</button> -->
      </div>
      <div class="card-block" [hidden] = "question.hide">
        <p class="card-text">{{question.answer}}</p>
      </div>
    </div>
    <br>
  </div>